.left-menu-wrap {
    position: fixed;
    height: 100%;
    width: 350px;
    background-image: url(../images/progress-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.left-menu-wrap__main {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
