root = true

[*.{js, css}]
indent_style = space
indent_size = 4

[*.min.*]
indent_style = ignore
trim_trailing_whietspace = false
insert_final_newline = ignore

[*.{js,py}]
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[*md]
trim_trailing_whitespace = false

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
