@import "fonts.less";
@import "variables.less";
@import "mixin.less";
@import "blocks/body.less";
@import "blocks/visually-hidden.less";
@import "blocks/button-nav.less";
@import "blocks/header.less";
@import "blocks/nav.less";
@import "blocks/header-caption.less";
@import "blocks/header-main-wrap.less";
@import "blocks/wrap-button-resume.less";
@import "blocks/caption-small.less";
@import "blocks/nav-burger-line.less";
@import "blocks/nav-closed.less";
@import "blocks/links-style.less";
@import "blocks/arrow-down.less";
@import "blocks/nav-header.less";
@import "blocks/body-overlay.less";
@import "blocks/nav-userpic.less";
@import "blocks/nav-items.less";
@import "blocks/job-position.less";
@import "blocks/nav-links.less";
@import "blocks/underline.less";
@import "blocks/close.less";
@import "blocks/skills.less";
@import "blocks/caption.less";
@import "blocks/skills-wrap-checkbox.less";
@import "blocks/skills-description.less";
@import "blocks/skills-items.less";
@import "blocks/tools.less";
@import "blocks/tools-caption.less";
@import "blocks/tools-description.less";
@import "blocks/tools-list.less";
@import "blocks/tools-card.less";
@import "blocks/skills-wrap-caption.less";
@import "blocks/skills-wrap-description.less";
@import "blocks/jobs.less";
@import "blocks/jobs-all-items.less";
@import "blocks/jobs-item.less";
@import "blocks/jobs-wrap-dates.less";
@import "blocks/jobs-year.less";
@import "blocks/jobs-dates.less";
@import "blocks/jobs-description.less";
@import "blocks/jobs-link.less";
@import "blocks/jobs-position.less";
@import "blocks/jobs-description-list.less";
@import "blocks/jobs-list-item.less";
@import "blocks/education.less";
@import "blocks/education-list.less";
@import "blocks/education-list-item.less";
@import "blocks/education-title-item.less";
@import "blocks/education-links.less";
@import "blocks/certificates.less";
@import "blocks/certificates-wrap-nav.less";
@import "blocks/certificates-nav-item.less";
@import "blocks/cert-active.less";
@import "blocks/certificates-wrap-images.less";
@import "blocks/certificates-wrap-img.less";
@import "blocks/certificates-description.less";
@import "blocks/progress.less";
@import "blocks/progress-wrap.less";
@import "blocks/progress-video-bg.less";
@import "blocks/progress-item.less";
@import "blocks/progress-integer.less";
@import "blocks/portfolio.less";
@import "blocks/portfolio-description.less";
@import "blocks/portfolio-list.less";
@import "blocks/portfolio-item.less";

.header__button-nav {
    right: 3%;
    top: 3%;
}

.header__wrap-button-resume {
    margin-top: 3%;
}

.nav-items__userpic {
    margin-top: 18%;
}

.header__job-position::before {
    margin-right: 4px;
}

.header__job-position::after {
    margin-left: 4px;
}

.nav-items__link {
    margin-left: 12%;
}

.header__link-download {
    margin-left: 4px;
}

.skills {
    margin-top: 5%;
}

.skills__wrap-checkbox {
    margin-top: 14%;
}

.tools {
    margin: 15% 5%;
}
.tools__list {
    margin-top: 10%;
}
.tools__card {
    margin-top: 5%;
}
.tools__card h3 {
    margin: 0;
}

.education  {
    margin: 15% 5% 0 5%;
}

.certificates {
    margin: 15% 5% 0 5%;
}

.certificates__nav-item {
    margin-top: 10%;
    &:first-child {
        margin-top: 0;
    }
}

.progress {
    margin-top: 15%;
}

.portfolio {
    margin-top: 15%;
}

.portfolio__list {
    margin-left: 5%;
    margin-top: 10%;
}
@import "blocks/media.less";
